target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/**
!**/src/test/resources/archetype-resources/**

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Logs
*.log

# Environment variables
.env
.env.example

# docker file
Dockerfile

